mat-grid-list {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
}

mat-grid-tile {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: solid 1px black;
}

.myCell {
  margin: 0px 0px 0px 0px;
  padding: 7px 0px 0px 0px;
}


// ---------------------------------------------------------------------------------------------


.imgsContainer {
  width: 20vw;
  height: 15vh;
}

.imgPlay {
  position: absolute;
  margin-left: 9vw;
  width: 3vw;
  margin-top: 5vh;
  height: 6vh;
  padding: 0px 0px 0px 0px;
}

.imgVideo {
  border: solid 1px black;
  width: 20vw;
  height: 15vh;
  padding: 0px 0px 0px 0px;
}


// ---------------------------------------------------------------------------------------------


.mat-grid-tile-info-video {
  border: none;
  font-size: x-small;
}

mat-icon {
  text-align: right;
}


// ---------------------------------------------------------------------------------------------


.btnContainer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.btnPaginator {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
