<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- Grille -->
<div style="height: 93%">
    <mat-grid-list cols="3" rowHeight="33%">
        <mat-grid-tile colspan="1" rowspan="1" *ngFor="let k of [0,1,2,3,4,5,6,7,8]">
            <div class="myCell" *ngIf="indexPage+k < tabVideo.length" [title]="tabVideo[indexPage+k].title">

                    <iframe appIframeTracker
                            [src]=videoUrlService.safeUrl(tabVideo[indexPage+k].url)
                            allowfullscreen
                            (iframeClick)="onIframeClick(tabVideo[indexPage+k])"></iframe><br>

                    <span> {{tronquage(tabVideo[indexPage+k].title)}} </span>
                    <button mat-icon-button (click)="onAdd(tabVideo[indexPage+k])">
                        <mat-icon> add_circle </mat-icon>
                    </button>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<!-- Paginator -->
<div class="btnContainer">
    <button mat-button class="btnPaginator" [disabled]="indexPage<=0" (click)="indexPage=indexPage-9"> < Précédent </button> &nbsp;
    <button mat-button class="btnPaginator" [disabled]="indexPage+9>=tabVideo.length" (click)="indexPage=indexPage+9"> Suivant > </button>
</div>
