mat-grid-list {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
}

mat-grid-tile {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  //border: solid 1px black;
}

.myCell {
  margin: 7px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #f0f0f0;
  border: solid 1px black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.myCell:hover {
  background-color: #d2d2d2;
}


// ---------------------------------------------------------------------------------------------


.imgsContainer {
  //width: 20vw;
  width: 18vw;
  height: 15vh;
}

.imgPlay {
  position: absolute;
  margin-left: 8vw;
  width: 2.5vw;
  margin-top: 5vh;
  height: 5vh;
  padding: 0px 0px 0px 0px;
}

.imgVideo {
  //border: solid 1px black;
  //width: 20vw;
  width: 18vw;
  height: 15vh;
  padding: 0px 0px 0px 0px;
}


// ---------------------------------------------------------------------------------------------


.mat-grid-tile-info-video {
  border: none;
  font-size: x-small;
}

mat-icon {
  text-align: right;
}


// ---------------------------------------------------------------------------------------------


.paginatorContainer {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  background-color: white;
}

.btnPaginator {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
