mat-grid-list {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

mat-grid-tile {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: solid 1px black;
}


// ---------------------------------------------------------------------------------------------


.myCell {
  margin: 0px 0px 0px 0px;
  padding: 15px 0px 0px 0px;
}

iframe {
  padding: 0px 0px 0px 0px;
  width: 85%;
  height: 15vh;
}


// ---------------------------------------------------------------------------------------------


.btnContainer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.btnPaginator {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
