<div [class]="themeService.getClassTheme()">
    <div class="myContainer">

        <!-- Search bar -->
        <div class="row searchBarContainer">
            <div style="text-align: center">
                <input type="search" placeholder="recherche..." class="inputSearchBar" [(ngModel)]="search" (ngModelChange)="whileSearch()">
            </div>
        </div>


        <!-- Liste des playlist -->
        <div class="row" style="margin: 0px">
            <div class="playlistListContainer">
                <div *ngFor="let playlist of tabPlaylist" class="playlistContainer">
                    <button class="btnPlaylist" (click)="eventEmitter.emit(playlist)">
                        <span class="playlistName"> {{playlist.name}} </span><br>
                        <span class="playListCount"> {{playlist.videos.length}} vidéos </span>
                    </button>
                </div>
            </div>
        </div>


        <!-- Bouton creer playlist-->
        <div class="row btnCreerPlaylistContainer" >
            <button mat-button class="btnCreerPlaylist" (click)="onCreatePlaylist()"> Creer playlist </button>
        </div>

    </div>
</div>
