<div [class]="themeService.getClassTheme()">
    <div class="myContainer">

        <!-- Search bar -->
        <div class="row searchBarContainer">
            <div style="text-align: center">
                <input type="search" placeholder="recherche..." class="inputSearchBar" [(ngModel)]="search" (ngModelChange)="whileSearch()">
            </div>
        </div>



        <!-- Liste des playlist -->
        <div class="row" style="margin: 0px">
            <div class="playlistListContainer">
                <div *ngFor="let playlist of tabPlaylist" class="playlistContainer">

                    <div [class]="getClassOfPlaylistContainer(playlist)" (click)="eventEmitter.emit(playlist); playlistFocusedOn = playlist">
                        <div class="col-2"></div>
                        <div class="col-8" style="text-align: center">
                            <span class="playlistName"> {{playlist.name}} </span><br>
                            <span class="playListCount" *ngIf="playlist.videoIds.length <= 1"> {{playlist.videoIds.length}} vidéo </span>
                            <span class="playListCount" *ngIf="playlist.videoIds.length > 1"> {{playlist.videoIds.length}} vidéos </span>
                        </div>
                        <div class="col-2" style="text-align: right">
                            <button mat-icon-button (click)="onDeletePlaylist(playlist)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- Bouton creer playlist-->
        <div class="row btnCreerPlaylistContainer" >
            <button mat-button class="btnCreerPlaylist" (click)="onCreatePlaylist()"> Créer une playlist </button>
        </div>

    </div>
</div>
