.myContainer {
  font-size: small;
}


img {
  margin: 0px 0px 10px 0px;
  width: 5vw;
  height: 5vw;
  border: solid 2px black;
  border-radius: 50%;
  font-size: xxx-large;
}


.myRow {
  margin: 15px 0px 15px 0px;
}
.myLabel {
  text-align: right;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-weight: bold;
}
.myValue {
  text-align: left;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}
