<div [class]="themeService.getClassTheme()">

    <h1 mat-dialog-title>{{advert.title}}</h1>

    <!-- ----------------------------------------------------------------------------------------------------------------- -->

    <mat-divider></mat-divider>
    <mat-dialog-content>

        <!-- Images -->
        <div class="row myRow">
            <div class="col-6 myLabel"> Images: </div>
            <div class="col-6 myValue" style="border-left: solid 1px #e6e6e6">
                <div *ngFor="let image of advert.images"> {{image.url}} </div>
            </div>
        </div>

        <!-- Tags -->
        <div class="row myRow">
            <div class="col-6 myLabel"> Centre d'intérêt : </div>
            <div class="col-6 myValue" style="border-left: solid 1px #e6e6e6">
                <div *ngFor="let tag of advert.interests"> • {{tag}} </div>
            </div>
        </div>

        <!-- Comment -->
        <div class="row myRow">
            <div class="col-6 myLabel"> Commentaire: </div>
            <div class="col-6 myValue"> {{advert.comment}} </div>
        </div>

        <!-- Views -->
        <div class="row myRow">
            <label class="col-6 myLabel"> Vues: </label>
            <div class="col-6 myValue"> {{advert.views}} </div>
        </div>

        <!-- Created at -->
        <div class="row myRow">
            <label class="col-6 myLabel"> Date de création: </label>
            <div class="col-6 myValue">
                {{ advert.createdAt | date:'dd/LL/YYYY à HH:mm:ss' }}
            </div>
        </div>

        <!-- Last updtade -->
        <div class="row myRow">
            <label class="col-6 myLabel"> Date de dernière modification: </label>
            <div class="col-6 myValue">
                {{ advert.updatedAt | date:'dd/LL/YYYY à HH:mm:ss' }}
            </div>
        </div>

        <!-- IsVisible -->
        <div class="row myRow">
            <label class="col-6 myLabel"> Visibilité: </label>
            <div class="col-6 myValue">
                <mat-icon *ngIf="advert.isVisible">checked</mat-icon>
                <mat-icon *ngIf="!advert.isVisible">close</mat-icon>
            </div>
        </div>

    </mat-dialog-content>

    <!-- ----------------------------------------------------------------------------------------------------------------- -->

    <mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Fermer</button>
    </mat-dialog-actions>

</div>
