<!-- Login -->
<div *ngIf="pour === 'login'">
    <nav class="navbar navbar-expand-lg">

        <!-- PolyNotFound -->
        <a class="navbar-brand" routerLink=""> StreamNotFound </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Rien -->
        <div class="collapse navbar-collapse"></div>

        <!-- S'inscrire -->
        <button mat-button class="btnDeconnexion" routerLink="/register">
            S'inscrire
        </button>

    </nav>
</div>


<!-- --------------------------------------------------------------------------------------------------------- -->


<!-- Register -->
<div *ngIf="pour === 'register'">
    <nav class="navbar navbar-expand-lg">

        <!-- PolyNotFound -->
        <a class="navbar-brand" routerLink=""> StreamNotFound </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Rien -->
        <div class="collapse navbar-collapse"></div>

    </nav>
</div>
