<nav class="navbar navbar-expand-lg">

    <!-- PolyNotFound -->
    <a class="navbar-brand" routerLink="/advertiser/adList"> StreamNotFound </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- [adList] [viewsAd]-->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active monLi">
                <a class="nav-link" routerLink="/advertiser/adList"> Gestion des annonces </a>
            </li>
            <li class="nav-item active monLi">
                <a class="nav-link" routerLink="/advertiser/adsPopularity"> Popularité des annonces </a>
            </li>
            <li class="nav-item active monLi">
                <a class="nav-link" routerLink="/advertiser/subjectsPopularity"> Popularité des domaines </a>
            </li>
        </ul>
    </div>

    <!-- Mon profil -->
    <img [src]=urlImage
         onerror="this.onerror=null; this.src='assets/profil.png'"
         routerLink="/advertiser/myProfil"
         alt="">

    <!-- Deconnexion -->
    <button mat-button class="btnDeconnexion" (click)="onDeconnexion()" routerLink="/">
        Deconnexion
    </button>

</nav>
