<nav class="navbar navbar-expand-lg">

    <!-- PolyNotFound -->
    <a class="navbar-brand" routerLink="/user/search"> StreamNotFound </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- [Recherche] [Mes Playlists] [Historique] -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active monLi">
                <a *ngIf="(url !== routes[0]) && (url !== routes[1])" [routerLink]="routes[1]" class="nav-link">Rechercher</a>
                <a *ngIf="(url === routes[0]) || (url === routes[1])" [routerLink]="routes[1]" class="nav-link myActiveLink">Rechercher</a>
            </li>
            <li class="nav-item active monLi">
                <a *ngIf="url !== routes[2]" [routerLink]="routes[2]" class="nav-link">Mes playlists</a>
                <a *ngIf="url === routes[2]" [routerLink]="routes[2]" class="nav-link myActiveLink">Mes playlists</a>
            </li>
            <li class="nav-item active monLi">
                <a *ngIf="url !== routes[3]" [routerLink]="routes[3]" class="nav-link">Historique</a>
                <a *ngIf="url === routes[3]" [routerLink]="routes[3]" class="nav-link myActiveLink">Historique</a>
            </li>
        </ul>
    </div>


    <!-- Mon profil -->
    <img [src]=profilService.profileImageUrl
         onerror="this.onerror=null; this.src='assets/profil.png'"
         [routerLink]="routes[4]"
         alt="">


    <!-- Deconnexion -->
    <button mat-button class="btnDeconnexion" (click)="onDeconnexion()" routerLink="/">
        Deconnexion
    </button>

</nav>
