.myContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#imgFromSearchOrMyPlaylists {
  max-width: 100%;
  max-height: 100%;
  border: solid 3px black;
  vertical-align: middle;
  cursor: pointer;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// ------------------------------------------------------------------------------

#imgFromWatchingLeft {
  width: 14vw;
  height: 70vh;
  border: solid 3px black;
  position: fixed;
  left: 1vw;
  cursor: pointer;
}

#imgFromWatchingRight {
  width: 15vw;
  height: 70vh;
  border: solid 3px black;
  position: fixed;
  right: 1vw;
  cursor: pointer;
}
