<div *ngIf="from==='search' || from==='myPlaylists'" class="myContainer">
    <span class="helper"></span>
    <img [src]="'assets/pub/'+ad.images[idxImage].url"
         [alt]="ad.title"
         (click)="onClick()"
         id="imgFromSearchOrMyPlaylists">
</div>

<!-- --------------------------------------------------------------------- -->

<img *ngIf="from === 'watchingLeft'"
     [src]="'assets/pub/'+ad.images[idxImage].url"
     [alt]="ad.title"
     (click)="onClick()"
     id="imgFromWatchingLeft">

<!-- --------------------------------------------------------------------- -->

<img *ngIf="from === 'watchingRight'"
     [src]="'assets/pub/'+ad.images[idxImage].url"
     [alt]="ad.title"
     (click)="onClick()"
     id="imgFromWatchingRight">
