.lightTheme, .darkTheme {
  background-image: none;
}


h1 {
  text-align: center;
  font-size: xx-large;
}


.myRow {
  margin: 15px 0px 15px 0px;
}


.myLabel {
  text-align: right;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-weight: bold;
}

.myValue {
  text-align: left;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}
