<div [class]="themeService.getClassTheme()">
    <div class="myContainer">

        <!-- NavBar -->
        <app-navbar-advertiser></app-navbar-advertiser>

        <!-- Boite -->
        <div class="boite">

            <!-- Photo de profil -->
            <div style="text-align: center">
                <img [src]="advertiser.profileImageUrl"
                     onerror="this.onerror=null; this.src='assets/profil.png'">
            </div>

            <!-- login -->
            <div class="row myRow">
                <div class="col-6 myLabel">Login:</div>
                <div class="col-6 myValue"> {{advertiser.login}} </div>
            </div>

            <!-- email -->
            <div class="row myRow">
                <div class="col-6 myLabel">Mail:</div>
                <div class="col-6 myValue"> {{advertiser.email}} </div>
            </div>

            <!-- createdAt -->
            <div class="row myRow">
                <div class="col-6 myLabel">Date de création:</div>
                <div class="col-6 myValue">{{advertiser.createdAt | date:'dd/LL/YYYY'}}</div>
            </div>

            <!-- Modifier profil -->
            <div class="btnContainer">
                <button mat-button class="myBtn" (click)="onModifier()">Modifier profil</button>
            </div>

        </div>


    </div>
</div>
