.myContainer {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: small;
}


// ----------------------------------------------------------


.filtersContainer {
  width: 95%;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.myRow {
  margin-left: 1%;
}

.textFilter {
  width: 50%;
  font-size: medium;
  border-radius: 5px;
}

.btnAjouter {
  background-color: white;
  border: solid 1px black;
}


// ----------------------------------------------------------


table {
  margin: 0 auto;
  width: 94%;
  font-size: small;
}
.darkTheme table { border: solid 2px white; }

th.mat-sort-header-sorted {
  color: black;
}

td {
  font-size: small;
}

input {
  width: 30%;
  font-size: large;
  border-radius: 5px;
}


// --------------------------------------------------------------------


// rong gauche
::ng-deep .mat-slide-toggle-thumb {
  background-color: white !important;
}

// trait droite
::ng-deep .mat-slide-toggle-bar {
  background-color: gray !important;
}

// rond droite
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white !important;
}

// trait gauche
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: cornflowerblue !important;
}


// -------------------------------------------------------------------------

::ng-deep .mat-pseudo-checkbox-checked {
  background-color: black !important;
}
