.conteneur {
  text-align: center;
  border: solid 2px;
  border-radius: 5px;
  padding-top: 15px;
}

.lightTheme .conteneur {
  background-color: #ffffff;
  border-color: black;
  font-color: black;
}

.darkTheme .conteneur {
  background-color: #c8c8c8;
  border-color: #ffffff;
  font-color: white;
}
