.lightTheme, .darkTheme {
  background-image: none;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: small;
}

h1 {
  text-align: center;
  font-size: large;
  padding-bottom: 10px;
}


// -------------------------------------------------------------------------


.commentContainer {
  width: 100%;
}

.imageContainer {
  border: solid 1px grey;
}

button {
  font-size: small;
}


// -------------------------------------------------------------------------
// --- LightTheme ---

// aura
.lightTheme ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

// contenu coche
.lightTheme ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

// indeterminate
.lightTheme ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black !important;
  background-color: white !important;
}

// --- DarkTheme ---

// aura
.darTheme ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

// contenu coche
.darkTheme ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

// indeterminate
.darkTheme ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white !important;
  //background-color: white !important;
}
