.myContainer1 {
  padding: 10px 10px 0px 25px;
  margin: 0px 0px 0px 0px;
  font-size: small;
}


.myContainer2 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.myContainer2::-webkit-scrollbar {
  display: none;
}



h1 {
  text-align: center;
  font-size: large;
}

.col-6, .col-8 {
  border-left: solid 1px #a4a4a4;
}


// -------------------------------------------------------------------------


.commentContainer {
  width: 100%;
}

.imageContainer {
  border: solid 1px grey;
}

mat-dialog-actions {
  margin-bottom: 0px;
}

button {
  font-size: small;
}


// -------------------------------------------------------------------------
// --- LightTheme ---

// aura
.lightTheme ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

// contenu coche
.lightTheme ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

// indeterminate
.lightTheme ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black !important;
  background-color: white !important;
}

// --- DarkTheme ---

// aura
.darTheme ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

// contenu coche
.darkTheme ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

// indeterminate
.darkTheme ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white !important;
  //background-color: white !important;
}
