<div [class]="themeService.getClassTheme()">

    <!-- pour les 3 roles -->
    <div *ngIf="pour === '3roles'">
        <ul>
            <li>
                <a routerLink="/connexion" class="StreamNotFound"> StreamNotFound </a>
            </li>
            <li style="float:right; margin-right: 20px;">
                <mat-slide-toggle (click)="onClick()"></mat-slide-toggle>
            </li>
        </ul>
    </div>

    <!-- pour User -->
    <div *ngIf="pour === 'user'">
        <ul>
            <li>
                <a routerLink="/search" class="StreamNotFound"> StreamNotFound </a>
            </li>
            <li class="cliquable">
                <a routerLink="/search"> Rechercher </a>
            </li>
            <li class="cliquable">
                <a routerLink="/myPlaylists"> Mes playlists </a>
            </li>
            <li class="cliquable">
                <a routerLink="/historique"> Historique </a>
            </li>
            <li style="float:right; margin-right: 20px;">
                <a routerLink="/search">
                    <mat-icon>settings</mat-icon>
                </a>
            </li>
            <li style="float:right; margin-right: 20px;">
                <mat-slide-toggle (click)="onClick()"></mat-slide-toggle>
            </li>
        </ul>
    </div>

</div>
