.myContainer {
  width: 100vw;
  height: 100vh;
}


mat-stepper {
  width: 60%;
  margin: 10vh auto;
  border: solid 1px black;
  border-radius: 20px;
}


.leftCol {
  border-right: solid 1px #dcdcdc;
}


.myRow {
  margin: 15px 0px 15px 0px;
}
.myLabel {
  text-align: right;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-weight: bold;
}
.myValue {
  text-align: left;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}
