.myContainer {
  font-size: small;
}

img {
  margin: 0px 0px 10px 0px;
  width: 10%;
  height: 10%;
  border: solid 2px black;
  border-radius: 50%;
  font-size: xxx-large;
}

.leftCol {
  border-right: solid 1px #dcdcdc;
}
