<div [class]="themeService.getClassTheme()">
    <div class="myContainer">
        <div class="bg">


            <app-navbar-before-connexion pour="login"></app-navbar-before-connexion>


            <div class="wrapper fadeInDown">
                <div id="formContent">

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <h1 style="font-family: cursive; font-size: 45px; margin-top: 60px; margin-bottom: 20px">StreamNotFound</h1>
                        <img src="../../../../assets/logo.png" id="icon" alt="User Icon" style="margin-top: 20px"/>
                    </div>

                    <!-- Login Form -->
                    <form>
                        <input [(ngModel)]="pseudo" type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
                        <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
                        <!-- Message d'erreur -->
                        <div *ngIf="hasError" style="text-align: center; margin-bottom: 20px;">
                            <span class="mat-error"> {{errorMessage}} </span>
                        </div>
                        <input type="submit" class="fadeIn fourth" value="Se connecter" (click)="onSeConnecter()">
                    </form>

                    <!-- Oubli mot de passe -->
                    <div id="formFooter">
                        <a class="underlineHover" href="https://disney.fandom.com/fr/wiki/Tristesse">J'ai oublié mon mot de passe</a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
