<div *ngIf="complete">
    <ul>
        <li>
            <a routerLink="/connexion" style="color: white ; background-color: black">
                StreamNotFound
            </a>
        </li>
        <li style="float:right; margin-right: 20px;">
            <mat-slide-toggle></mat-slide-toggle>
        </li>
    </ul>
</div>



<div *ngIf="!complete">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
</div>
