<div [class]="themeService.getClassTheme()">
    <div class="myContainer">

        <app-nav-bar pour="3roles"></app-nav-bar>

        <div class="boite">
            <h1> Inscription </h1>

            <!-- Pseudo -->
            <div class="row">
                <div class="col-6 label"> Pseudo: &nbsp; </div>
                <div class="col-6 champ">
                    <input type="text" [(ngModel)]="pseudo">
                </div>
            </div>

            <!-- Email -->
            <div class="row">
                <div class="col-6 label"> Email: &nbsp; </div>
                <div class="col-6 champ">
                    <input type="email" [(ngModel)]="email">
                </div>
            </div>

            <!-- Mot de passe -->
            <div class="row">
                <div class="col-6 label"> Mot de passe: &nbsp; </div>
                <div class="col-6 champ">
                    <input type="password" [(ngModel)]="password">
                </div>
            </div>

            <!-- Confirmation mot de passe -->
            <div class="row">
                <div class="col-6 label"> Confirmer le mot de passe: &nbsp; </div>
                <div class="col-6 champ">
                    <input type="password" [(ngModel)]="confirmPassword">
                </div>
            </div>

            <!-- Bouton valider -->
            <div style="width: 100%; margin-top: 30px">
                <button (click)="onValider()"> Valider </button>
            </div>

            <!-- Message d'erreur -->
            <div *ngIf="hasError" style="text-align: center">
                <span class="mat-error"> {{errorMessage}} </span>
            </div>
        </div>

    </div>
</div>
