<div class="conteneur">

    <app-nav-bar complete="false"></app-nav-bar>

    <div class="boite">
        <h1> Connexion </h1>

        <div class="row">
            <div class="col-4 label"> Email: &nbsp; </div>
            <div class="col-8 champ">
                <input type="text" size="20">
            </div>
        </div>

        <div class="row">
            <div class="col-4 label"> Mot de passe: &nbsp; </div>
            <div class="col-8 champ">
                <input type="text" size="20">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button> Se connecter </button>
            </div>
            <div class="col-6 justify-content-center">
                <button> S'inscrire </button>
            </div>
        </div>

        <div style="text-align: right">
            <a routerLink="/register" class="lien"> Mot de passe oublié ? </a>
        </div>

    </div>
</div>
