.myContainer {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

img {
  margin: 0px 0px 10px 0px;
  width: 10vw;
  height: 10vw;
  border: solid 2px white;
  border-radius: 50%;
  font-size: xxx-large;
}

input {
  margin: 0px;
  margin: 0px 0px 10px 0px;
  width: 100%;
}
