<div class="myContainer">
    <div class="boite">

        <!-- photo de profil -->
        <div style="text-align: center">
            <img [src]="advertiserCopy.profileImageUrl" onerror="this.onerror=null; this.src='assets/profil.png'"><br>
            <input title="lien vers image" type="text" [(ngModel)]="advertiserCopy.profileImageUrl" style="width: 90%">
        </div>

        <!-- divider -->
        <br><mat-divider></mat-divider><br>

        <!-- entreprise -->
        <mat-form-field appearance="fill">
            <mat-label>Entreprise</mat-label>
            <input matInput type="text" [(ngModel)]="advertiserCopy.company">
        </mat-form-field><br>

        <!-- login -->
        <mat-form-field appearance="fill">
            <mat-label>Pseudo</mat-label>
            <input matInput type="text" [(ngModel)]="advertiserCopy.login">
        </mat-form-field><br>

        <!-- divider -->
        <mat-divider></mat-divider><br>

        <!-- Modifier mot de passe -->
        <div>
            Modifier mot de passe:
            <mat-checkbox [(ngModel)]="changePassword"></mat-checkbox>
        </div>

        <!-- nouveau mot de passe -->
        <div *ngIf="changePassword" style="margin-top: 10px">
            <!-- Nouveau mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="newPassword">
            </mat-form-field>
            <br>
            <!-- Confirmation nouveau mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Confirmation nouveau mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="confirmNewPassword">
            </mat-form-field>
        </div>
        <div *ngIf="!changePassword"><br></div>

        <!-- divider -->
        <mat-divider></mat-divider><br>

        <!-- message d'erreur -->
        <div *ngIf="hasError" style="text-align: center; margin-bottom: 20px;">
            <span class="mat-error">{{errorMessage}}</span>
        </div>

        <!-- boutons -->
        <div style="width: 100%; text-align: right">
            <button mat-button (click)="this.dialogRef.close(null)"> Annuler </button>
            <button mat-button (click)="onValider()"> Enregistrer </button>
        </div>

    </div>
</div>
