.myContainer {
  //background-color: white ;
  background: linear-gradient(top, rgba(38,38,38,0.8), #e6e6e6 25%, #fff 38%, #c5c5c5 87%, rgba(38,38,38,0.8));
  background: -webkit-linear-gradient(top, #c5c5c5, #e6e6e6 25%, #fff 38%, #c5c5c5 87%, #c5c5c5);
  text-align: center;
  width: 35vw;
  margin: 1vh 0vh 3vh 0vh;
  padding: 0px;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

// TopBorder --------------------------------------------------------

.topBorder {
  margin: 0px 0px 0px 0px;
  //background-color: #dcdcdc;
  background: linear-gradient(top, rgba(38,38,38,0.8), #e6e6e6 25%, #fff 38%, #c5c5c5 87%, rgba(38,38,38,0.8));
  background: -webkit-linear-gradient(top, #c5c5c5, #e6e6e6 25%, #fff 38%, #c5c5c5 87%, #c5c5c5);
  text-align: left;
  padding: 5px 0px 5px 5px;
  border-bottom: solid 1px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.spanPlayListTitle {
  font-size: large;
  font-weight: bold;
}

// Liste des videos ------------------------------------------------

.listVideoContainer {
  height: 65vh;
  background-color: white;
  padding: 0px;
  overflow-y: scroll;
}

.videoContainer {
  border-bottom: solid 1px black;
  padding: 15px 0px 15px 0px;
  width: 100%;
}

.imgsContainer {
  position: relative;
  width: 20vw;
  height: 15vh;
  cursor: pointer;
}

.imgPlay {
  position: absolute;
  margin-left: 9vw;
  width: 3vw;
  margin-top: 5vh;
  height: 6vh;
  padding: 0px 0px 0px 0px;
}

.imgVideo {
  border: solid 1px black;
  width: 20vw;
  height: 15vh;
  padding: 0px 0px 0px 0px;
}

// BottomBorder --------------------------------------------------------

.bottomBorder {
  margin: 0px 0px 0px 0px;
  //background-color: #dcdcdc;
  background: linear-gradient(top, rgba(38,38,38,0.8), #e6e6e6 25%, #fff 38%, #c5c5c5 87%, rgba(38,38,38,0.8));
  background: -webkit-linear-gradient(top, #c5c5c5, #e6e6e6 25%, #fff 38%, #c5c5c5 87%, #c5c5c5);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-size: large;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
