h3 {
  text-align: center;
  margin-bottom: 10px
}

.conteneurPlaylists {
  margin-top: 10px;
  margin-bottom: 10px;
}

.conteneurBtnCreerPlaylist {
  margin-top: 10px;
  margin-bottom: 10px;
}

.conteneurInputNewPlaylist {
  margin-top: 10px;
  margin-bottom: 10px;
}
