.lightTheme {
  color: black;
  border-color: black;
}
.darkTheme {
  color: white;
  border-color: white;
}
.myContainer {
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

//--------------------------------------------------------------------------------------------

.inputSearchBar {
  width: 50%;
  font-size: large;
}
.btnRechercher {
  border: solid black 1px;
  border-radius: 5px;
  font-size: large;
}

//--------------------------------------------------------------------------------------------
// --- Playlist ---

.playlistContainer {
  border: solid 1px black;
  width: 98%;
}

.topBorder {
  margin: 0px 0px 0px 0px;
  background-color: #dcdcdc;
  text-align: left;
  padding: 5px 0px 5px 5px;
  border-bottom: solid 1px black;
}

.listVideoContainer {
  height: 70vh;
  background-color: white;
  overflow-y: scroll;
}

.videoCell {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 10px;
  border-bottom: solid 1px black;
}

// ----

.imgsContainer {
  position: relative;
  width: 13vw;
  height: 10vh;
  float: left;
}

.imgVideo {
  border: solid 1px black;
  width: 13vw;
  height: 10vh;
  padding: 0px 0px 0px 0px;
}

.imgPlay {
  position: absolute;
  margin-left: 6vw;
  width: 2vw;
  margin-top: 3vh;
  height: 4vh;
  padding: 0px 0px 0px 0px;
}

.titleContainer {
  display: table-cell;
  margin-left: 13vw;
  height: 10vh;
  padding-left: 2px;
  vertical-align: middle;
}

// ----

.bottomBorder {
  margin: 0px 0px 0px 0px;
  background-color: #dcdcdc;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-size: large;
}
