@import "~@angular/material/prebuilt-themes/indigo-pink.css";

--root {
  --dark-color: #f0f0f0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.lightTheme {
  background: url("assets/lightBackground.jpg") no-repeat center center fixed;
  font-color: black;
  border-color: black;
}


.darkTheme {
  background: url("assets/darkBackground.webp") no-repeat center center fixed;
  font-color: white;
  border-color: white;
}


.lightTheme, .darkTheme {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
