@import "~@angular/material/prebuilt-themes/indigo-pink.css";

--root {
  --dark-color: #f0f0f0;
}
html, body { height: 100%; }
body { margin: 0; }


.lightTheme {
  background: url("assets/lightBackground.jpg") no-repeat center center fixed;
  font-color: black;
  border-color: black;
  font-size: small;
}


.darkTheme {
  background: url("assets/darkBackground.webp") no-repeat center center fixed;
  font-color: white;
  border-color: white;
  font-size: small;
}


.lightTheme, .darkTheme {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



// -------------------------------------------------------------------------


// aura
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

// contenu coche
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

// indeterminate
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: solid 1px black !important;
  background-color: white !important;
}
