.myContainer {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: small;
}


// ----------------------------------------------------------


table {
  margin: 0 auto;
  width: 94%;
  font-size: small;
}
.darkTheme table { border: solid 2px white; }

th.mat-sort-header-sorted {
  color: black;
}

td {
  font-size: small;
}

input {
  width: 30%;
  font-size: large;
  border-radius: 5px;
}
