.myContainer {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


.boite {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 10vh;
  border: solid 3px;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 10px 5px 5px black;
}
.lightTheme .boite {
  border-color: black;
}
.darkTheme .boite {
  border-color: white;
}


img {
  margin: 0px 0px 10px 0px;
  width: 5vw;
  height: 5vw;
  border: solid 2px black;
  border-radius: 50%;
  font-size: xxx-large;
}


.myRow {
  margin: 15px 0px 15px 0px;
}
.myLabel {
  text-align: right;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-weight: bold;
}
.myValue {
  text-align: left;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}


.btnContainer {
  text-align: center;
  margin-top: 40px;
}
.myBtn {
  border: solid 1px black;
  background-color: white;
}
