<div class="myContainer">

    <!-- Rôle -->
    <div class="matRadioGroupContainer">
        <mat-radio-group [(ngModel)]="user.role.name" (change)="hasError=false; errorMessage = '';">
            <mat-radio-button value="user"> Utilisateur </mat-radio-button><br>
            <mat-radio-button value="advertiser"> Annonceur </mat-radio-button><br>
            <mat-radio-button value="admin"> Admin </mat-radio-button>
        </mat-radio-group>
    </div><br>

    <!-- divider -->
    <mat-divider></mat-divider><br>

    <!-- userBlock or advertiserOrAdminBlock -->
    <div *ngIf="user.role.name === 'user'; then userBlock"></div>
    <div *ngIf="(user.role.name === 'advertiser' || user.role.name === 'admin'); then advertiserOrAdminBlock"></div>

    <!-- divider -->
    <mat-divider *ngIf="user.role.name !== ''" style="margin-top: 10px;"></mat-divider><br>

    <!-- Error -->
    <div *ngIf="hasError" style="text-align: center; margin-bottom: 20px;">
        <span class="mat-error">{{errorMessage}}</span>
    </div>

    <!-- Boutons -->
    <div style="width: 100%; text-align: right">
        <button mat-button (click)="this.dialogRef.close(null)"> Annuler </button>
        <button mat-button (click)="onEnregistrer()" [disabled]="user.role.name === ''" > Enregistrer </button>
    </div>

</div>


<!-- ------------------------------------------------------------------------------------------------------------------- -->


<!-- userBlock -->
<ng-template #userBlock>

    <!-- photo de profil -->
    <div style="text-align: center">
        <img [src]="user.profileImageUrl" onerror="this.onerror=null; this.src='assets/profil.png'"><br>
        <input title="lien vers image" type="text" [(ngModel)]="user.profileImageUrl" style="width: 90%">
    </div><br>

    <div class="row">

        <!-- Colonne gauche -->
        <div class="col-4 leftCol">

            <!-- Email -->
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="user.email" required>
            </mat-form-field><br>

            <!-- Login -->
            <mat-form-field appearance="fill">
                <mat-label>Pseudo</mat-label>
                <input matInput type="text" [(ngModel)]="user.login" required>
            </mat-form-field><br>

            <!-- Mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="password" required>
            </mat-form-field><br>

            <!-- Confirmation mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Confirmation mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="confirmPassword" required>
            </mat-form-field>

        </div>

        <!-- Colonne droite -->
        <div class="col-8">

            <!-- dateOfBirth -->
            <mat-form-field appearance="fill">
                <mat-label>Date de naissance</mat-label>
                <input matInput type="date"
                       [ngModel] ="user.dateOfBirth | date:'yyyy-MM-dd'"
                       (ngModelChange)="user.dateOfBirth = $event">
            </mat-form-field><br>

            <!-- gender -->
            <mat-radio-group [(ngModel)]="user.gender">
                <mat-radio-button value="man"> Homme </mat-radio-button>&nbsp; &nbsp;
                <mat-radio-button value="woman"> Femme </mat-radio-button>
            </mat-radio-group>
            <br><br>

            <!-- interests -->
            <app-input-interests-admin
                    [myInterests]="user.interests"
                    (eventEmitter)="onEventInputInterests($event)"></app-input-interests-admin>
        </div>

    </div>
</ng-template>


<!-- ------------------------------------------------------------------------------------------------------------------- -->


<!-- advertiserOrAdminBlock -->
<ng-template #advertiserOrAdminBlock>


    <!-- photo de profil -->
    <div style="text-align: center">
        <img [src]="user.profileImageUrl" onerror="this.onerror=null; this.src='assets/profil.png'"><br>
        <input title="lien vers image" type="text" [(ngModel)]="user.profileImageUrl" style="width: 100%">
    </div><br>


    <!-- email + login + mdp + confirmation -->
    <div class="row">

        <!-- email + login -->
        <div class="col-6">
            <!-- email -->
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="user.email" required>
            </mat-form-field><br>
            <!-- login -->
            <mat-form-field appearance="fill">
                <mat-label>Pseudo</mat-label>
                <input matInput type="text" [(ngModel)]="user.login" required>
            </mat-form-field><br>
            <!-- company -->
            <mat-form-field appearance="fill" *ngIf="user.role.name === 'advertiser'">
                <mat-label>Entreprise</mat-label>
                <input matInput type="text" [(ngModel)]="user.company">
            </mat-form-field><br *ngIf="user.role.name === 'advertiser'">
        </div>

        <!-- mdp + confirmation -->
        <div class="col-6">
            <!-- mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="password" required>
            </mat-form-field><br>
            <!-- confirmation mot de passe -->
            <mat-form-field appearance="fill">
                <mat-label>Confirmation nouveau mot de passe</mat-label>
                <input matInput type="password" [(ngModel)]="confirmPassword" required>
            </mat-form-field>
        </div>

    </div>


</ng-template>
