<h4>Récupération du mot de passe</h4>

<mat-divider></mat-divider><br>

<!-- email -->
<div class="myDiv">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" required>
    </mat-form-field>
</div>

<!-- message d'erreur -->
<div class="myError" *ngIf="hasError">
    <span class="mat-error">{{errorMessage}}</span>
</div>

<mat-divider></mat-divider>

<!-- boutons -->
<mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Annuler</button>
    <button mat-button (click)="onValidate()" cdkFocusInitial>Valider</button>
</mat-dialog-actions>
